@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&family=Prata&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100..900&display=swap');

/* Custom responsive utilities */
@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
  
  .text-pretty {
    text-wrap: pretty;
  }
}

:root {
  --background: #ffffff;
  --foreground: #171717;
  --font-outfit-semibold: 'Outfit-Semibold', sans-serif;
  --font-outfit-regular: 'Outfit-Regular', sans-serif;
  --font-outfit-medium: 'Outfit-Medium', sans-serif;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: 'Inter', sans-serif;
}

.font-outfit-semibold {
  font-family: var(--font-outfit-semibold);
}

.font-outfit-regular {
  font-family: var(--font-outfit-regular);
}

.font-outfit-medium {
  font-family: var(--font-outfit-medium);
}

@keyframes blob {
  0% {
    transform: translate(0px, 0px) scale(1);
  }
  33% {
    transform: translate(30px, -50px) scale(1.1);
  }
  66% {
    transform: translate(-20px, 20px) scale(0.9);
  }
  100% {
    transform: translate(0px, 0px) scale(1);
  }
}

.animate-blob {
  animation: blob 7s infinite;
}

.animation-delay-2000 {
  animation-delay: 2s;
}

.animation-delay-4000 {
  animation-delay: 4s;
}

/* Custom Scrollbar Styles */
::-webkit-scrollbar {
  width: 1px;
  height: 2px;
}

::-webkit-scrollbar-track {
  background: rgba(34, 48, 68, 0.3); /* primary color with opacity */
}

::-webkit-scrollbar-thumb {
  background: #007d84; /* secondary color */
  border-radius: 2px;
}

::-webkit-scrollbar-thumb:hover {
  background: rgba(0, 181, 190, 0.8); /* secondary color with opacity on hover */
}

::-webkit-scrollbar-corner {
  background: rgba(34, 48, 68, 0.3);
}

/* Firefox scrollbar */
* {
  scrollbar-width: thin;
  scrollbar-color: #16c0c9 rgba(34, 48, 68, 0.3);
}
